/* ==========================================================================
   -- Footer
   ========================================================================== */
   
footer.root
	height 10vh
	width 100%
	background-color blue
	position absolute
	bottom 0
	
	h2
		color white
		text-align center
		line-height @height